*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    margin: 120px;
    max-width: 400px;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 15px 15px 10px rgb(235, 228, 228);
}

.hero>header{
    font-size: 30px;
    font-weight: 600;
}

.hero .inputArea{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputArea>input{
    outline:none;
    width: 85%;
    height: 100%;
    border: 2px solid #000;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputArea>button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background-color: gray;
    color: #fff;
    font-size:22px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputArea>button.active{
    opacity: 1;
    pointer-events: auto;
}

.hero .todo-list{
    max-height: 250px;
    overflow-y: auto;
}

.todo-list li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-bottom:10px;
    padding: 0 15px;
    overflow: hidden;
}

.todo-list li span{
    position: absolute;
    right: -45px;
    color:tomato;
    width: 40px;
    text-align: center;
    background-color:lightgray;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

.todo-list li:hover span{
    right: 0px;
}

.footer{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.footer>button{
    margin-top: 10px;
    padding:6px 10px;
    /* width: auto;
    height: 100%; */
    border: none;
    outline: none;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

